footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $location-text-color;
    padding-bottom: 20px
    h1{
        padding: 10px;
        width: 85%;
        max-width: 410px;
    }
    ul{
        width: 85%;
        max-width: 410px;
        list-style: none;
        padding: 10px;
    }
        li{
            padding: 5px;
        }
    i{
        width: 20px;
        padding-right: 15px;
    }
}

footer  img{
    width: 100px;   
}