footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $location-text-color;
    padding-bottom: 20px;
    border: 2px solid red;
    ul{
        list-style: none;
        padding: 10px;
        border: 2px solid blue;
    }
        li{
            padding: 5px;
        }
    i{
        width: 20px;
        padding-right: 15px;
    }
}

footer  img{
    width: 100px;   
}