header{
    display: flex;
    justify-content: center;
    padding: 20px 0px 5px 0px;
    // border: 2px solid red;
    .omf-logo {
        width: 200px;
    }
    i{
        position: relative;
        left: -60px;
        top: 5px;
        transform: scale(1.5);
        color: $location-text-color;
    }
}