header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0px 5px 0px;
    background-color: white;

    .omf-logo {
        width: 100%;
        max-width: 200px;
    }

    i {
        position: relative;
        left: -45px;
        top: 5px;
        transform: scale(1.5);
        color: $dark-grey;
    }
}