header{
    display: flex;
    justify-content: center;
    padding: 20px 0px 5px 0px;
    // Add a bottom box shadow


    border: 1px solid red;
        .omf-logo{
            width: 200px;
        }

}
