.dishes {

    .dish {
        opacity: 0;
        animation: appear 2s ease-in;
        animation-fill-mode: forwards;

        &:nth-child(1) {
            animation-delay: 2.1s;
        }

        &:nth-child(2) {
            animation-delay: 2.3s;
        }

        &:nth-child(3) {
            animation-delay: 2.5s;
        }

        &:nth-child(4) {
            animation-delay: 2.7s;
        }

        @keyframes appear {
            0% {
                opacity: 0;
                transform: translateY(10px);
            }

            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}

.dish {

    &:hover .tick-wrapper {
        width: 70px;
        transition: width 0.5s ease-in-out;
    }

    &:hover .check-white {
        visibility: visible;
        transform: rotate(360deg);
        transition: transform 0.5s ease-in-out;
    }
}

.tick-wrapper {
    width: 0px;
    background-color: $tertiary-color;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;

    .check-white {
        font-size: 25px;
        color: white;
        transform: rotate(1deg);
        visibility: hidden;
    }
}