* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.location {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    color: $location-text-color;
    background-color: $location-bg-color;
        i {
            position: relative;
            left: -18px;
        }

}

.presentation{
    display: flex;
    justify-content: center;
    // border: 2px solid red;
}

// MOBILE
@media screen and (max-width: 414px) {



    
}


