* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



.location {
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    color: $location-text-color;
    background-color: $location-bg-color;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
        i {
            position: relative;
            left: -18px;
        }
}

.presentation{
    display: flex;
    justify-content: center;
    // border: 2px solid red;
}

// MOBILE
@media screen and (max-width: 414px) {



    
}


