a {
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

h2 {
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

h3 {
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}



.location {
    h2 {
        font-size: 16px;
        font-weight: 700;
        color: $dark-grey;
    }
}

.presentation {
    h1 {
        @include text-title;
        padding: 20px 0px 15px 0px
    }

    h2 {
        @include text-body;
        padding: 15px 20px 15px 20px;
    }
}

.how-it-works {
    h1 {
        @include text-title
    }

    h3 {
        @include how-it-works-text
    }
}

.new{
    font-weight: 600;
    font-size: 15px;
    color: darken($tertiary-color, 45);
}

.menu-content {
    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-size: 30px
    }

    h2{
        @include text-body;
        font-size: 18px;
        text-transform: uppercase;
    }

}

.dish{
    h3 {
        font-size: 17px;
        font-weight: 600;
    }

    h4 {
        font-weight: 300;
    }

    h5{
        font-weight: 900;
    }
}

footer {
    h1 {
        font-size: 20px;
        font-family: 'Shrikhand', sans-serif;
        color: white;
    }

    ul {
        color: white;
    }
}