.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 60px 0px;
    background-color: $presentation-color;  
        button {
            @include gradient-btn;
        }
}



.how-it-works{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 30px 20px 30px 20px;
    width: fit-content;
    height: 450px;

    h1{
        position: relative;
        left: -10px;
    }
}

.steps{
    @include steps-vis;

    .number{
        @include number-vis;
        position: relative;
        left: -14px;
    }

    i{
        transform: scale(1.3);
        color: $icon-color;
        padding: 0px 12px 0px 12px;
    }

    h3{
        
        padding: 0px 12px 0px 12px;
    }
}