body{
    background-color: white;
}

button{
    @include gradient-btn
}

.menu-top{
    width: 100%;
    max-width: 425px;   
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
    img{
        height: 225px;
        transform: scale(1.26);
    }
    .tep-menu-img{
        position: relative;
        top: 20px;
        width: auto;
        transform: scale(2.4);
    }
    .leg-menu-img{
        height: 225px;
        transform: scale(1.3);
    }
}


.menu-content{
    position: relative;
    top: -25px;
    background-color: $presentation-color;
    width: 100%;
    max-width: 425px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
    h1{
    padding: 20px 5px 20px 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    }
    i{
    padding: 5px 35px 0px 5px;
    transform: scale(1);
    }

    h2{
        @include text-body;
        font-size: 18px;
        text-transform: uppercase;
        padding: 20px 0px 0px 20px;
    }

    .dishes{
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
    }

    button{
        margin: 50px 0px 90px 0px;
    }
    
}

.dishes{
    .dish{
        padding: 10px 0px 10px 10px;
        width: 95%;
        max-width: 400px;
        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 15px 15px -16px rgba(0,0,0,0.1);
    }
}

.dish{
    h3{
        font-size: 17px;
        font-weight: 600;
        padding-bottom: 5px;
    }
    .dish-info{
        display: flex;
        justify-content: space-between;
        flex-wrap: row wrap;
    }
    
    h5{
        padding-right: 20px;
        font-weight: 900;
    }
}

