$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$location-text-color: #353535;
$location-bg-color: #EAEAEA;

$presentation-color: #F6F6F6;

$icon-color: #7E7E7E;

$steps-bg-color: #F5EDFF;

$new-bg-color: #99E2D0;
$new-text-color: #008665;
