$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$button-color: linear-gradient(160deg, rgba(255, 121, 218, 1) 12%, rgba(147, 86, 220, 1) 100%);
$color-white: #fff;

$dark-grey: #353535;
$location-bg-color: #EAEAEA;

$background-grey: #F6F6F6;

$icon-color: #7E7E7E;

$steps-bg-color: #F5EDFF;

$new-bg-color: #99E2D0;
$new-text-color: #008665;